useDynLib(clinfun)
import(stats,graphics)
importFrom(utils, combn)
importFrom(mvtnorm, pmvnorm)
export("aucVardiTest","calogrank","coxphQuantile","coxphCPE","coxphERR","deltaAUC","fe.power","fe.mdor","fe.ssize","CPS.ssize","mdrr","or2pcase","gsdesign.binomial","gsdesign.normal","gsdesign.survival","power.ladesign","permlogrank","jonckheere.test","ph2simon","oc.twostage.bdry","twostage.inference","ph2single","pselect","toxbdry","bdrycross.prob","roc.area.test","roc.curve","roc.perm.test")
S3method(print, ph2simon)
S3method(plot, ph2simon)
S3method(print, toxbdry)
S3method(print, calogrank)
S3method(print, permlogrank)
S3method(print, gsdesign)
S3method(print, ladesign)
S3method(print, roc.area.test)
S3method(print, roc.curve)
S3method(plot, roc.curve)
S3method(lines, roc.curve)
S3method(print, roc.perm.test)
S3method(plot, roc.perm.test)
